<div class="row">
    <div class="col-md-6">        
        <h3>1ª Kill x Jogador</h3>
        <app-jogadoresprimeirakill></app-jogadoresprimeirakill>
        <h6>Quantidade de vezes em que o jogador pegou a primeira kill em um Round jogado (vantagem)</h6>
    </div>

    <div class="col-md-6">
        <h3>1ª Kill x Time</h3>
        <app-timesprimeirakill></app-timesprimeirakill>
        <h6>Quantidade de vezes em que o time pegou a primeira kill em um Round jogado (vantagem)</h6>    
    </div>
    <!-- 
    <div class="col-md-6">
        <h3>1ª Kill x Vitória</h3>
        <app-vitoriaprimeirakill></app-vitoriaprimeirakill>
        <h6>casos em quem o time que pegou a primeira kill do round, também teve a vitória</h6>        
    </div>

    <div class="col-md-6">
        <h3>Média de kills</h3>
        <app-mediakilljogadores></app-mediakilljogadores>
        <h6>Média de kills dos jogadores por round</h6>        
    </div>
     -->
    <div class="col-md-6">
        <h3>Kills x Armas</h3>
        <app-killarmas></app-killarmas>
        <h6>Armas e suas quantidades de kills</h6>        
    </div>
    
    <div class="col-md-6">
        <h3>Kills x Times</h3>
        <app-killtimes></app-killtimes>
        <h6>Média de Kills dos times por partidas</h6>        
    </div>

    <div class="col-md-6">
        <h3>Campeão</h3>
        <app-linhadotempovencedor></app-linhadotempovencedor>
        <h6>Dados do time campeão, pelas partidas que disputou</h6>        
    </div>

    <div class="col-md-6">
        <h3>Geolocalização</h3>
        <app-arenaslatlng></app-arenaslatlng>
        <h6>Geolocalização das Arenas</h6>        
        <div class="alert alert-danger" role="alert">
            Os gráficos de Geolocalização em amcharts4 estão apresentando instabilidade, além de serem muito limitantes.
            Para esse caso é necessário migrar para GEOpadas, com flask/python
        </div>        
    </div>

    <div class="col-md-12">
        <h3>Fluxo de Estados</h3>
        <app-estadosfluxo></app-estadosfluxo>
        <h6>Fluxo de estados que estavam ocorrendo as partidas ao longo da competição. Caminho até a final</h6>        
    </div>

    <div class="col-md-12">
        <h3>Público</h3>
        <app-audienciadata></app-audienciadata>
        <h6>Público das arenas</h6>        
    </div>                            
    <!-- 
    <div class="col-md-6">
        <h3>Público</h3>
        <app-regioespublico></app-regioespublico>
        <h6>Público das arenas, por região do país</h6>
    </div>

    <div class="col-md-6">
        <h3>Vitórias</h3>
        <app-timesvitorias></app-timesvitorias>
        <h6>Quantidade de Vitórias dos times</h6>        
    </div>

    <div class="col-md-6">
        <h3>Estados</h3>
        <app-estadospartidas></app-estadospartidas>
        <h6>Número de partidas ocorridas em cada estado</h6>        
    </div>

    <div class="col-md-6">
        <h3>Minimos e Máximos</h3>
        <app-timesmaximosminimos></app-timesmaximosminimos>
        <h6>Menor e maior número de kills feitos por um dos integrantes de um time, para cada um dos times, ao longo da competição</h6>        
    </div>
     -->

</div>


