<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <h1> Listagem de métodos fornecidos por esta API </h1>
        <table>
            <thead>
                <tr>
                    <th>End Point - Descricao</th>
                </tr>
            </thead>
            <tbody>
                <tr for (metodo in data.metodos)>
                    <td><a href='${metodo.id}'>${metodo.id}</a></td>
                    <td>${metodo.descricao}</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>