
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

td {
    height: 48px !important;}
tr {
    height: 52px !important;}    

body {
    background: -webkit-linear-gradient(#ebece7, white);
    background: linear-gradient(#ebece7, white);}

.jumbotron{margin: 15px !important;}        

.row{margin: 15px !important;}        

h1, h2, h3, h5, h6{margin: 15px !important;}        
    
  
  